* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
  font-family: 'Lato',sans-serif;
  cursor: pointer;
}

button {
  cursor: pointer;
}

ul li {
  list-style: none;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Aretha';
  src: local("Aretha Bold"), local("Aretha-Bold"), url("../fonts/Aretha-Bold.woff2") format("woff2"), url("../fonts/Aretha-Bold.woff") format("woff"), url("../fonts/Aretha-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

html,
body {
  width: 100%;
  font-family: 'Lato', sans-serif;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1570px;
  margin: 0 auto;
  padding: 0 20px;
}

a:hover {
  text-decoration: none;
  color: #7c4eab;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.mobile-menu:hover span {
  background-color: #7c4eab;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  cursor: pointer;
}

.buttonm__out:hover {
  background-color: #7c4eab;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.header {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.header::before {
  content: "";
  display: block;
  width: 762px;
  height: 763px;
  position: absolute;
  z-index: -1;
  background: linear-gradient(264.3deg, rgba(124, 78, 171, 0.8) 0.87%, rgba(221, 81, 212, 0.8) 112.89%);
  border-radius: 460px;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  -webkit-box-shadow: 0 20px 0 20px rgba(221, 81, 212, 0.2);
          box-shadow: 0 20px 0 20px rgba(221, 81, 212, 0.2);
  overflow: hidden;
  top: -178px;
  right: calc(1530px + 94px + (0.5 * (100vw - (1570px - 40px))));
}

.header::after {
  content: "";
  display: block;
  width: 739.59px;
  height: 740.56px;
  position: absolute;
  z-index: -1;
  background: linear-gradient(264.3deg, rgba(124, 78, 171, 0.8) 0.87%, rgba(221, 81, 212, 0.8) 112.89%);
  border-radius: 155.294px;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  -webkit-box-shadow: 0 20px 0 20px rgba(221, 81, 212, 0.2);
          box-shadow: 0 20px 0 20px rgba(221, 81, 212, 0.2);
  overflow: hidden;
  border-radius: 50%;
  bottom: -180px;
  left: calc(1530px + 154px + (0.5 * (100vw - (1570px - 40px))));
}

.header__menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 35px 0 51px 0;
}

.header__block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 145px 0;
}

.header__content {
  padding: 0 30px  0 0;
  display: block;
}

.header__picture {
  width: 620px;
  padding: 49px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__block-logo {
  width: 489px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__logo {
  width: 260px;
  height: 80px;
  padding: 10px 19px 12px 0;
  border-right: 1px solid rgba(51, 26, 47, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__logo-img {
  height: 58px;
  width: auto;
}

.menu__logo-text {
  font-family: 'Aretha';
  font-weight: 700;
  font-size: 31.8678px;
  line-height: 39px;
  letter-spacing: -0.01em;
  color: #54618E;
}

.menu__logo-text span {
  color: #D653D2;
}

.menu__logo-p {
  width: 229px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(51, 26, 47, 0.9);
  padding: 13px 0 13px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__nav {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 22px 91px 22px 31px;
}

.menu__buttonm {
  width: 169px;
}

.menu__mobile-menu {
  display: none;
}

.nav__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  height: 100%;
}

.nav__item:not(:last-child) a:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-radius: 3px;
  border-top: 9px solid rgba(51, 26, 47, 0.9);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  margin-top: 3px;
  margin-left: 12px;
}

.nav__item:not(:last-child) {
  padding-right: 46px;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #331A2F;
}

.nav__phone {
  height: 36px;
}

.nav__phone-a {
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #331A2F;
  fill: #331A2F;
  -webkit-hyphens: manual;
      -ms-hyphens: manual;
          hyphens: manual;
}

.nav__phone-svg {
  width: 18.76px;
  height: 18.75px;
  fill: inherit;
  margin-right: 5px;
}

.nav a:hover {
  color: #7c4eab;
  fill: #7c4eab;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.nav a:hover::after {
  border-top: 8px solid #7c4eab;
}

.buttonm__out {
  width: 169px;
  height: 45px;
  background: #CF51CE;
  border-radius: 12px;
  font-weight: 500;
  font-size: 23px;
  line-height: 35px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttonm__out-svg {
  width: 23px;
  height: 23px;
  color: #FFFFFF;
  margin-right: 14px;
}

.content__breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

.content__h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 80px;
  color: #331A2F;
}

.content__h1-span {
  color: #CF51CE;
}

.content__block-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.content__text {
  font-weight: 400;
  font-size: 25px;
  line-height: 40px;
  color: rgba(51, 26, 47, 0.8);
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  margin: 15px 0;
}

.breadcrumbs__item:not(:last-child) a:after {
  content: "";
  display: inline-block;
  background-color: rgba(51, 26, 47, 0.5);
  width: 10px;
  height: 1px;
  margin: 2px 8px 0 8px;
}

.breadcrumbs__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(51, 26, 47, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price__icon {
  width: 48px;
  height: 48px;
}

.price__text {
  margin-left: 25px;
  font-weight: 400;
  font-size: 30px;
  line-height: 29px;
  color: rgba(51, 26, 47, 0.8);
}

.price__text-span {
  font-weight: 700;
  font-size: 38px;
  line-height: 55px;
  color: #CF51CE;
}

.picture__fon {
  width: 620px;
  height: 604.26px;
  background-image: url(../img/Bg_stars.webp);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.picture__img {
  width: 560px;
  height: 560px;
  background-color: transparent;
}

.picture__img img {
  width: 560px;
  height: auto;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  background-color: transparent;
}

.about {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 140px 0;
}

.about__block {
  max-width: 1320px;
}

.about__h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #331A2F;
  margin-bottom: 85px;
  padding: 0 200px;
}

.about__sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-about__block-text {
  display: block;
}

.section-about__image-01 {
  width: 456px;
  height: 469px;
  margin-right: 80px;
}

.section-about__image-01 img {
  width: 456px;
  height: auto;
}

.section-about__image-02 {
  width: 474px;
  height: 474px;
  margin-left: 80px;
}

.section-about__image-02 img {
  width: 474px;
  height: auto;
}

.section-about__text-01, .section-about__text-02 {
  font-weight: 400;
  font-size: 25px;
  line-height: 40px;
  color: rgba(51, 26, 47, 0.8);
  margin: 15px 0px;
}

.section-about__text-01 {
  padding: 0 34px 0 0;
}

.section-about__text-02 {
  padding: 0 0 0 16px;
}

.benefit {
  width: 100%;
  padding: 0 0 131px 0;
}

.benefit__block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefit__h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #331A2F;
  padding: 0 300px;
  margin-bottom: 30px;
}

.benefit__h2-span {
  display: inline-block;
  position: relative;
}

.benefit__h2-span::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 7px;
  bottom: -3px;
  left: 0;
  border-radius: 5px;
  background: linear-gradient(264.91deg, #7C4EAB 0.73%, #DD51D4 95.85%);
}

.benefit__h2-span4 {
  color: #EA5DBB;
}

.benefit__text {
  font-weight: 400;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  color: rgba(51, 26, 47, 0.8);
  padding: 0 330px;
  margin-bottom: 85px;
}

.benefit__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 123px;
}

.cards__image {
  width: 70px;
  height: 70px;
  background: #CF51CE;
  -webkit-box-shadow: 0px 4px 25px rgba(234, 93, 187, 0.25);
          box-shadow: 0px 4px 25px rgba(234, 93, 187, 0.25);
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards__img {
  width: 48px;
  height: 48px;
}

.cards__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #331A2F;
  padding: 30px 0 15px 0;
}

.cards__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: rgba(51, 26, 47, 0.8);
}

@media (max-width: 1380px) {
  .container {
    max-width: 1240px;
  }
  .header::before {
    width: 434.59px;
    height: 435.16px;
    -webkit-box-shadow: 0 11px 0 11px rgba(221, 81, 212, 0.2);
            box-shadow: 0 11px 0 11px rgba(221, 81, 212, 0.2);
    right: calc(1200px + 27px + (0.5 * (100vw - (1240px - 40px))));
    top: -110px;
    border-radius: 50%;
  }
  .header::after {
    content: "";
    display: none;
  }
  .header__menu {
    padding: 30px 0 51px 0;
  }
  .header__block {
    padding: 0 0 77px 0;
  }
  .header__content {
    display: block;
  }
  .header__picture {
    width: 458px;
    padding: 49px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu__block-logo {
    width: 380px;
  }
  .menu__logo {
    width: 202.04px;
    height: auto;
    padding: 9px 14.76px 9px 0;
  }
  .menu__logo-img {
    height: 44px;
    width: auto;
  }
  .menu__logo-text {
    font-size: 25px;
    line-height: 30px;
  }
  .menu__logo-p {
    width: 178px;
    font-size: 10px;
    line-height: 14px;
    padding: 10px 0 10px 19px;
  }
  .menu__nav {
    padding: 13px 91px 13px 28px;
  }
  .menu__buttonm {
    width: 152px;
  }
  .nav__link {
    font-size: 18px;
  }
  .nav__phone-a {
    font-size: 18px;
  }
  .nav__phone-svg {
    width: 15.58px;
    height: 15.58px;
    margin-right: 4.19px;
  }
  .buttonm__out {
    width: 152px;
    height: 43.88px;
    font-size: 18px;
  }
  .buttonm__out-svg {
    width: 20px;
    height: 20px;
  }
  .content__h1 {
    font-size: 46px;
    line-height: 65px;
  }
  .content__text {
    font-size: 20px;
    line-height: 32px;
  }
  .price__text {
    font-size: 20px;
    line-height: 29px;
  }
  .picture__fon {
    width: 458px;
    height: 458.86px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .picture__img {
    width: 435.35px;
    height: 435.35px;
    background-color: transparent;
  }
  .picture__img img {
    width: 435.35px;
    height: auto;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    background-color: transparent;
  }
  .about {
    padding: 0 0 140px 0;
  }
  .about__block {
    max-width: 995px;
  }
  .about__h2 {
    font-size: 40px;
    line-height: 64px;
    padding: 0 150px;
  }
  .section-about__image-01 {
    width: 352px;
    height: 362.04px;
  }
  .section-about__image-01 img {
    width: 352px;
    height: auto;
  }
  .section-about__image-02 {
    width: 358px;
    height: 358px;
    margin-left: 55px;
  }
  .section-about__image-02 img {
    width: 358px;
    height: auto;
  }
  .section-about__text-01, .section-about__text-02 {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
  }
  .section-about__text-01 {
    padding: 0;
  }
  .section-about__text-02 {
    padding: 0;
  }
  .benefit {
    padding: 0 0 121px 0;
  }
  .benefit__h2 {
    font-size: 40px;
    line-height: 64px;
    padding: 0 190px;
  }
  .benefit__h2-span::after {
    content: "";
    height: 7px;
    bottom: -3px;
    border-radius: 5px;
  }
  .benefit__text {
    font-size: 20px;
    line-height: 32px;
    padding: 0 250px;
    margin-bottom: 85px;
  }
  .benefit__cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    gap: 88px;
  }
  .cards__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .cards__image {
    width: 60px;
    height: 60px;
  }
  .cards__img {
    width: 38px;
    height: 38px;
  }
  .cards__title {
    font-size: 20px;
    line-height: 30px;
    padding: 20px 0 10px 0;
  }
  .cards__text {
    font-size: 16px;
    line-height: 26px;
  }
}

@media (max-width: 1150px) {
  .header::before {
    content: "";
    display: none;
  }
  .menu__block-logo {
    width: 370px;
  }
  .menu__logo-p {
    width: 168px;
    padding: 10px 0 10px 19px;
  }
  .menu__nav {
    padding: 13px 30px 13px 15px;
  }
  .nav__item:not(:last-child) {
    padding-right: 26px;
  }
  .benefit__h2 {
    padding: 0 150px;
  }
  .benefit__text {
    padding: 0 150px;
  }
}

@media (max-width: 1020px) {
  .container {
    max-width: 768px;
    padding: 0 15px;
  }
  .header__menu {
    padding: 35px 0 30.83px 0;
  }
  .header__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 0 65px 0;
    position: relative;
  }
  .header__content {
    padding: 0;
    display: block;
  }
  .header__picture {
    position: absolute;
    right: -184px;
    top: 198px;
    width: 410px;
    padding: 0 0 0 0;
    z-index: -1;
  }
  .menu {
    position: relative;
  }
  .menu__block-logo {
    width: 372px;
  }
  .menu__logo {
    width: 194.05px;
    height: 62px;
    padding: 0 14px 0 0;
    border-right: 1px solid rgba(51, 26, 47, 0.5);
  }
  .menu__logo-img {
    height: 40px;
    width: 47px;
  }
  .menu__logo-text {
    font-size: 25px;
    line-height: 30px;
  }
  .menu__logo-p {
    width: 178px;
    font-size: 10px;
    line-height: 14px;
    padding: 10px 0 10px 19px;
  }
  .menu__nav {
    display: none;
  }
  .menu__mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 42px;
    height: 28px;
  }
  .mobile-menu__line {
    display: inline-block;
    width: 100%;
    height: 4px;
    background: #CF51CE;
    border-radius: 4px;
  }
  .mobile-menu__line:last-child {
    width: 32px;
  }
  .open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 97px;
    width: 250px;
    height: 250px;
    background-color: #ffffff;
    border: 5px solid #7C4EAB;
    border-radius: 20px;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav__item {
    height: 40px;
  }
  .nav__item:not(:last-child) {
    padding-right: 0;
  }
  .nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    font-size: 20px;
    line-height: 30px;
  }
  .nav__phone {
    height: 36px;
  }
  .nav__phone-a {
    font-size: 20px;
    line-height: 35px;
  }
  .content__h1 {
    font-size: 46px;
    line-height: 65px;
  }
  .content__text {
    font-size: 20px;
    line-height: 32px;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    padding: 0 252px 0 0;
  }
  .picture__fon {
    width: 100%;
    height: 100%;
    background-image: none;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .picture__img {
    width: 410px;
    height: 410px;
    background-color: transparent;
  }
  .picture__img img {
    width: 410px;
    height: auto;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    background-color: transparent;
  }
  .about {
    padding: 0 0 120px 0;
  }
  .about__block {
    max-width: 100%;
  }
  .about__h2 {
    margin-bottom: 80px;
    padding: 0 20px;
  }
  .section-about__image-01 {
    width: 270px;
    height: 277.7px;
    margin-right: 40px;
  }
  .section-about__image-01 img {
    width: 270px;
    height: auto;
  }
  .section-about__image-02 {
    width: 270px;
    height: 270px;
  }
  .section-about__image-02 img {
    width: 270px;
    height: auto;
  }
  .benefit {
    width: 100%;
    padding: 0 0 85px 0;
  }
  .benefit__h2 {
    padding: 0 20px;
    margin-bottom: 25px;
  }
  .benefit__text {
    padding: 0 20px;
    margin-bottom: 80px;
  }
  .benefit__cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }
}

@media (max-width: 620px) {
  .container {
    max-width: 360px;
    min-width: 330px;
  }
  .header__menu {
    padding: 35px 0 25px 0;
  }
  .header__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 0 85px 0;
    position: relative;
  }
  .header__content {
    padding: 0;
    display: block;
  }
  .header__picture {
    position: absolute;
    right: -127px;
    top: 34px;
    width: 245px;
  }
  .menu__block-logo {
    width: auto;
  }
  .menu__logo {
    width: 140.32px;
    height: 32px;
    padding: 0;
    border-right: none;
  }
  .menu__logo-img {
    height: 32px;
    width: 32px;
  }
  .menu__logo-text {
    font-size: 19px;
    line-height: 22px;
  }
  .menu__logo-p {
    display: none;
  }
  .menu__buttonm {
    width: 103.21px;
  }
  .buttonm__out {
    width: 103.21px;
    height: 36px;
    border-radius: 6px;
    font-size: 14px;
    line-height: 28px;
  }
  .buttonm__out-svg {
    width: 13.21px;
    height: 13.21px;
    color: #FFFFFF;
    margin-right: 8px;
  }
  .content__h1 {
    font-size: 26px;
    line-height: 39px;
    max-width: 208px;
    margin-top: 29px;
  }
  .content__text {
    font-size: 18px;
    line-height: 29px;
    padding: 0;
    margin: 10px 0;
  }
  .picture__img {
    width: 245px;
    height: 245px;
  }
  .picture__img img {
    width: 245px;
  }
  .about {
    padding: 0 0 100px 0;
  }
  .about__h2 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 50px;
    padding: 0;
  }
  .about__sections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__sections:not(:last-child) {
    margin-bottom: 40px;
  }
  .section-about__image-01 {
    width: 100%;
    height: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .section-about__image-01 img {
    width: 100%;
    height: auto;
  }
  .section-about__image-02 {
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-bottom: 30px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .section-about__image-02 img {
    width: 100%;
    height: auto;
  }
  .section-about__block-text {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .section-about__text-01, .section-about__text-02 {
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    margin: 10px 0px;
  }
  .benefit {
    padding: 0 0 69px 0;
  }
  .benefit__h2 {
    padding: 0;
    margin-bottom: 21px;
    font-size: 24px;
    line-height: 36px;
  }
  .benefit__text {
    font-size: 18px;
    line-height: 29px;
    padding: 0;
    margin-bottom: 50px;
  }
  .benefit__cards {
    width: 260px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 40px;
  }
  .cards__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
